$variable-prefix: tg-;
$prefix: $variable-prefix;

$font-family-primary: 'Poppins', sans-serif;
$font-family-secondary: 'hkgrotesk', sans-serif;

$white: #fff;
$black: #000;
$gray-100: #f3f6f9;
$gray-200: #eff2f7;
$gray-300: #e9ebec;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #878a99;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$grays: (
        "100": $gray-100,
        "200": $gray-200,
        "300": $gray-300,
        "400": $gray-400,
        "500": $gray-500,
        "600": $gray-600,
        "700": $gray-700,
        "800": $gray-800,
        "900": $gray-900
);

$blue: #3577f1;
$indigo: #405189;
$purple: #6559cc;
$pink: #f672a7;
$red: #f06548;
$orange: #f1963b;
$yellow: #f7b84b;
$green: #0ab39c;
$teal: #02a8b5;
$cyan: #299cdb;

$colors: (
        "blue": $blue,
        "indigo": $indigo,
        "purple": $purple,
        "pink": $pink,
        "red": $red,
        "orange": $orange,
        "yellow": $yellow,
        "green": $green,
        "teal": $teal,
        "cyan": $cyan,
        "white": $white,
        "gray": $gray-600,
        "gray-dark": $gray-800
);

$primary: $indigo;
$secondary: $blue;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "info": $info,
        "warning": $warning,
        "danger": $danger,
        "light": $light,
        "dark": $dark
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

$min-contrast-ratio: 1.75;

$color-contrast-dark: $black;
$color-contrast-light: $white;

$blue-100: tint-color($blue, 80%);
$blue-200: tint-color($blue, 60%);
$blue-300: tint-color($blue, 40%);
$blue-400: tint-color($blue, 20%);
$blue-500: $blue;
$blue-600: shade-color($blue, 20%);
$blue-700: shade-color($blue, 40%);
$blue-800: shade-color($blue, 60%);
$blue-900: shade-color($blue, 80%);
$blues: (
        "blue-100": $blue-100,
        "blue-200": $blue-200,
        "blue-300": $blue-300,
        "blue-400": $blue-400,
        "blue-500": $blue-500,
        "blue-600": $blue-600,
        "blue-700": $blue-700,
        "blue-800": $blue-800,
        "blue-900": $blue-900
);

$indigo-100: tint-color($indigo, 80%);
$indigo-200: tint-color($indigo, 60%);
$indigo-300: tint-color($indigo, 40%);
$indigo-400: tint-color($indigo, 20%);
$indigo-500: $indigo;
$indigo-600: shade-color($indigo, 20%);
$indigo-700: shade-color($indigo, 40%);
$indigo-800: shade-color($indigo, 60%);
$indigo-900: shade-color($indigo, 80%);
$indigos: (
        "indigo-100": $indigo-100,
        "indigo-200": $indigo-200,
        "indigo-300": $indigo-300,
        "indigo-400": $indigo-400,
        "indigo-500": $indigo-500,
        "indigo-600": $indigo-600,
        "indigo-700": $indigo-700,
        "indigo-800": $indigo-800,
        "indigo-900": $indigo-900
);

$purple-100: tint-color($purple, 80%);
$purple-200: tint-color($purple, 60%);
$purple-300: tint-color($purple, 40%);
$purple-400: tint-color($purple, 20%);
$purple-500: $purple;
$purple-600: shade-color($purple, 20%);
$purple-700: shade-color($purple, 40%);
$purple-800: shade-color($purple, 60%);
$purple-900: shade-color($purple, 80%);
$purples: (
        "purple-100": $purple-200,
        "purple-200": $purple-100,
        "purple-300": $purple-300,
        "purple-400": $purple-400,
        "purple-500": $purple-500,
        "purple-600": $purple-600,
        "purple-700": $purple-700,
        "purple-800": $purple-800,
        "purple-900": $purple-900
);

$pink-100: tint-color($pink, 80%);
$pink-200: tint-color($pink, 60%);
$pink-300: tint-color($pink, 40%);
$pink-400: tint-color($pink, 20%);
$pink-500: $pink;
$pink-600: shade-color($pink, 20%);
$pink-700: shade-color($pink, 40%);
$pink-800: shade-color($pink, 60%);
$pink-900: shade-color($pink, 80%);
$pinks: (
        "pink-100": $pink-100,
        "pink-200": $pink-200,
        "pink-300": $pink-300,
        "pink-400": $pink-400,
        "pink-500": $pink-500,
        "pink-600": $pink-600,
        "pink-700": $pink-700,
        "pink-800": $pink-800,
        "pink-900": $pink-900
);

$red-100: tint-color($red, 80%);
$red-200: tint-color($red, 60%);
$red-300: tint-color($red, 40%);
$red-400: tint-color($red, 20%);
$red-500: $red;
$red-600: shade-color($red, 20%);
$red-700: shade-color($red, 40%);
$red-800: shade-color($red, 60%);
$red-900: shade-color($red, 80%);
$reds: (
        "red-100": $red-100,
        "red-200": $red-200,
        "red-300": $red-300,
        "red-400": $red-400,
        "red-500": $red-500,
        "red-600": $red-600,
        "red-700": $red-700,
        "red-800": $red-800,
        "red-900": $red-900
);

$orange-100: tint-color($orange, 80%);
$orange-200: tint-color($orange, 60%);
$orange-300: tint-color($orange, 40%);
$orange-400: tint-color($orange, 20%);
$orange-500: $orange;
$orange-600: shade-color($orange, 20%);
$orange-700: shade-color($orange, 40%);
$orange-800: shade-color($orange, 60%);
$orange-900: shade-color($orange, 80%);
$oranges: (
        "orange-100": $orange-100,
        "orange-200": $orange-200,
        "orange-300": $orange-300,
        "orange-400": $orange-400,
        "orange-500": $orange-500,
        "orange-600": $orange-600,
        "orange-700": $orange-700,
        "orange-800": $orange-800,
        "orange-900": $orange-900
);

$yellow-100: tint-color($yellow, 80%);
$yellow-200: tint-color($yellow, 60%);
$yellow-300: tint-color($yellow, 40%);
$yellow-400: tint-color($yellow, 20%);
$yellow-500: $yellow;
$yellow-600: shade-color($yellow, 20%);
$yellow-700: shade-color($yellow, 40%);
$yellow-800: shade-color($yellow, 60%);
$yellow-900: shade-color($yellow, 80%);
$yellows: (
        "yellow-100": $yellow-100,
        "yellow-200": $yellow-200,
        "yellow-300": $yellow-300,
        "yellow-400": $yellow-400,
        "yellow-500": $yellow-500,
        "yellow-600": $yellow-600,
        "yellow-700": $yellow-700,
        "yellow-800": $yellow-800,
        "yellow-900": $yellow-900
);

$green-100: tint-color($green, 80%);
$green-200: tint-color($green, 60%);
$green-300: tint-color($green, 40%);
$green-400: tint-color($green, 20%);
$green-500: $green;
$green-600: shade-color($green, 20%);
$green-700: shade-color($green, 40%);
$green-800: shade-color($green, 60%);
$green-900: shade-color($green, 80%);
$greens: (
        "green-100": $green-100,
        "green-200": $green-200,
        "green-300": $green-300,
        "green-400": $green-400,
        "green-500": $green-500,
        "green-600": $green-600,
        "green-700": $green-700,
        "green-800": $green-800,
        "green-900": $green-900
);

$teal-100: tint-color($teal, 80%);
$teal-200: tint-color($teal, 60%);
$teal-300: tint-color($teal, 40%);
$teal-400: tint-color($teal, 20%);
$teal-500: $teal;
$teal-600: shade-color($teal, 20%);
$teal-700: shade-color($teal, 40%);
$teal-800: shade-color($teal, 60%);
$teal-900: shade-color($teal, 80%);
$teals: (
        "teal-100": $teal-100,
        "teal-200": $teal-200,
        "teal-300": $teal-300,
        "teal-400": $teal-400,
        "teal-500": $teal-500,
        "teal-600": $teal-600,
        "teal-700": $teal-700,
        "teal-800": $teal-800,
        "teal-900": $teal-900
);

$cyan-100: tint-color($cyan, 80%);
$cyan-200: tint-color($cyan, 60%);
$cyan-300: tint-color($cyan, 40%);
$cyan-400: tint-color($cyan, 20%);
$cyan-500: $cyan;
$cyan-600: shade-color($cyan, 20%);
$cyan-700: shade-color($cyan, 40%);
$cyan-800: shade-color($cyan, 60%);
$cyan-900: shade-color($cyan, 80%);
$cyans: (
        "cyan-100": $cyan-100,
        "cyan-200": $cyan-200,
        "cyan-300": $cyan-300,
        "cyan-400": $cyan-400,
        "cyan-500": $cyan-500,
        "cyan-600": $cyan-600,
        "cyan-700": $cyan-700,
        "cyan-800": $cyan-800,
        "cyan-900": $cyan-900
);

// Characters which are escaped by the escape-svg function
$escaped-characters: (
                ("<", "%3c"),
                (">", "%3e"),
                ("#", "%23"),
                ("(", "%28"),
                (")", "%29"),
);

// Quickly modify global styling by enabling or disabling optional features.
$enable-caret: false;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-cssgrid: false;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
// scss-docs-start variable-gradient
$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0));

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
);
$negative-spacers: if($enable-negative-margins, negativify-map($spacers), null);

$position-values: (
        0: 0,
        50: 50%,
        100: 100%
);

$body-bg: #f3f3f9;
$body-color: $gray-900;
$body-text-align: null;

$link-color: var(--#{$prefix}link-color);
$link-decoration: underline;
$link-shade-percentage: 20%;
$link-hover-color: var(--#{$prefix}link-hover-color);
$link-hover-decoration: null;

$stretched-link-pseudo-element: after;
$stretched-link-z-index: 1;

$paragraph-margin-bottom: 1rem;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12;
$grid-gutter-width: 1.5rem;
$grid-row-columns: 6;

$container-padding-x: $grid-gutter-width * 1;

$border-width: 1px;
$border-widths: (
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px
);

$border-style: solid;
$border-color-translucent: rgba($black, .175);
$border-color: var(--#{$prefix}border-color);

$border-radius: .25rem;
$border-radius-sm: .2rem;
$border-radius-lg: .3rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;

$box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
$box-shadow-sm: 0 .125rem .25rem rgba($black, .075);
$box-shadow-lg: 0 5px 10px rgba(30, 32, 37, 0.12);
$box-shadow-inset: inset 0 1px 2px rgba($black, .075);
$element-shadow: none;

$component-active-color: $white;
$component-active-bg: $primary;

$sidebar-menu-light-bg: var(--#{$prefix}sidebar-menu-light-bg);
$sidebar-menu-light-box-shadow: 0 2px 4px rgba(15, 34, 58, 0.12);
$sidebar-menu-light-border: $white;